## SET THESE VARIABLES
## Location of this file should be: ~/.soxy/config
############################################################

REMOTE_USER='YOUR_USERNAME'
REMOTE_HOST='TARGET_HOSTNAME'
REMOTE_PORT='22'

LOCAL_PORT='1080'

## AUTO_RECONNECT
# if set to true the script will atempt to restart the
# connection each time you execute 'soxy status' (useful
# in connection with a cron job to make sure you stay connected)

AUTO_RECONNECT=false